# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django specific
*.log
db.sqlite3
/media/
*.pot
*.pyc
*.pyo
*.pyd

# Environment variables
.env
*.env

# macOS specific
.DS_Store

# Backup files
*.bak
*.swp

# VSCode specific
.vscode/

# MySQL/PostgreSQL database dumps
*.dump
*.sql

# Redis files
*.rdb
*.log

# Virtual Environment
env/
venv/
ENV/
*.env/

# pip dependencies
pip-log.txt

# Static & Media
/staticfiles/
media/

# Node.js dependencies (if you use npm for frontend dependencies)
node_modules/

# IDEs and editors
.idea/

# Coverage reports
htmlcov/
*.cover
.coverage
.cache

# pytest
.pytest_cache/

# Other files you might want to ignore
*.pdf
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz

# Add library and script directories
Lib/
scripts/
Include/
pyvenv.cfg/
